{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": "standard-with-typescript",
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": [
      "./tsconfig.json"
    ]
  },
  "rules": {
    // on file itself, one can add explanation why. Why not in config? Annoying to deny and not explain
    "no-console": [
      "error",
      {
        "allow": [
          "error",
          "warn"
        ]
      }
    ],
    "@typescript-eslint/strict-boolean-expressions": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    // I have strickNullChecks on, but eslint keeps whining
    "@typescript-eslint/prefer-nullish-coalescing":0,
    // alas my vscode ts style disagrees
    "@typescript-eslint/space-before-function-paren":0,
    // conflicts with VSCode, turn off
    "generator-star-spacing": 0
  },
  "plugins": [
    "@typescript-eslint"
  ]
}
