./*.png
./*.out
.build_started
.request_build
.lock
node_modules
web/post.txt
web/result.txt
web/error.txt
web/icons
web/exported
tests/web/snapshots/__diff_output__/
tests/test_outputs/*.png
tests/test_outputs/*.out
tests/testrun/**
tests/reference_images/**
js/canviz-0.1
ext/plantuml.jar
ext/canviz-0.1.tar.bz2
build/*
jsconfig.json
model/jsconfig.json
package-lock.json
puppeteer_gojs.js
playground
js/mscgen

model/*.js
generators/*.js
web/*.js
web/visualizations/*.js
tests/parser/*.js
tests/web/*.js
**/*.map

tests/**/*.js
js/*.js
