[a-z].txt
l*.txt
*.png
*.dot
*.out
web/post.txt
web/result.txt
web/result.png
web/error.txt
web/icons
state.all
tests/*.png
tests/*.out
.idea
state.iml
.error
.buildpath
grunt.js
js/canviz-0.1
node_modules
