[a-z].txt
l*.txt
*.png
*.dot
*.out
web/post.txt
web/result.txt
web/result.png
web/error.txt
web/icons
state.all
tests/test_outputs/*.png
#tests/test_outputs/*.out
.idea
state.iml
.error
.buildpath
grunt.js
js/canviz-0.1
node_modules
ext/plantuml.jar
ext/canviz-0.1.tar.bz2
build/*
export/parser.js
export/state.js
export/display_image.sh
web/exported
jsconfig.json
model/jsconfig.json
